#m-date {

  width: 70vw ;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#m-date h1 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="date"] {
  background-color: rgb(211, 194, 173);
  width: 95%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

input[type="date"]:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#Btn-md {
  background-color: #0288D1;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#Btn-md:hover {
  background-color: #4f49e1;
  transform: translateY(-2px);
}